<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">vis angular</h3>
</div>

<div class="jumbotron">
  <h1>'Mushy vis lab !</h1>
  <p class="lead">
    Experiments with visualisations.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
</div>

<div class="row marketing">
  <h4>D3.js</h4>
  <p>
    Data-driven-documents, a JavaScript library for manipulating documents based on data using HTML, SVG and CSS
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>

  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
